exclude: '^$'
fail_fast: false
repos:

- repo: https://github.com/timothycrosley/isort
  rev: 5.8.0  # pick the isort version you'd like to use from https://github.com/timothycrosley/isort/releases
  hooks:
  - id: isort
- repo: https://github.com/ambv/black
  rev: 20.8b1
  hooks:
  - id: black
    language_version: python3.8
- repo: https://gitlab.com/pycqa/flake8
  rev: 3.9.0
  hooks:
  - id: flake8
    files: ^(wsmode|restmode)/
